*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    
}

:root{
    --bg-color:azure;
    --text-color:black;
    --main-color:rgb(166, 0, 255);
}

html{
    font-size: 65.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8%;
    background:var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.1s ease;
}

.logo{
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.253);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a:active{
    color:rgb(254, 241, 250);

}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 218, 255);
}
.home .home-img img {
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home .home-img img:hover{
    box-shadow: 0 0 20px var(--main-color),0 0 25px var(--main-color), 0 0 30px var(--main-color);
}

.home-content{
    margin-left: 6rem;
}
.home-content h3{
    font-size: 3rem;
    font-weight: 600;
}
.home-content p{
    font-size: 2rem;
    font-weight: 400;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
    margin-bottom: 10px;
}
.home-content h1{
    font-size:  4rem;
    font-weight: 600;
    line-height: 1.3;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2rem 2rem 2rem 0;
    transition: 0.3s ease;
}

.social-media a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1.8rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    color: var(--bg-color);
    margin-top: 20px;

}

.btn:hover{
    box-shadow:  0 0 25px var(--main-color);
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    background-color: rgb(237, 218, 255);
    padding-bottom: 30rem;
}

.about-img img {
    width: 30vw;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 50%;

}
.about-img img:hover{
    box-shadow: 0 0 20px var(--main-color),
                0 0 25px var(--main-color),
                0 0 30px var(--main-color);
}
.heading{
    font-size: 5rem;
    text-align: center;
}

.about-content{
    padding: 0 4rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 4rem;
}
.about-content p{
    font-size: 2rem;
    margin: 2rem 0 2rem;
}


.skills{
    background-color: rgb(237, 218, 255);
}

.skills h2{
    margin: 10px;
    margin-bottom: 10rem;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
}
.skills-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}
.skills-box:hover{
    border-color: var(--main-color);
    transform: scale(1.05);
}
.skills-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.skills-box h3{
    font-size: 3rem;
}
.skills-box p{
    font-size: 2rem;
    margin: 1rem 0 3rem;
}

.projects{
    background-color: rgb(237, 218, 255);
}
.projects-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-box .heading{
    margin-bottom: 10rem;
}
.projects-box img{
    height: 20rem;
    width: 30rem;
    border-radius: 2%;
    border: 0.1rem solid var(--main-color);
    box-shadow: 0 0 20px rgb(237, 218, 255);
    background-position: cover;
    background-repeat: no-repeat;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.projects-item{
    min-height: 400px;
    max-width: 400px;
    background: rgb(237, 218, 255);;
    border: 0.3rem solid var(--bg-color);
    border-radius: 2rem;
    padding: 5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: 0.3s ease;
    margin: 15px;
}
.projects-item:hover{
    border-color: var(--main-color);
    transform: scale(1.102);
}

.projects-item h2{
    font-size: 3rem;

}
.projects-item p{
    font-size: 1.5rem;
    text-align: center;
}

.contact{
    background-color: rgb(237, 218, 255);
}
.contact h2{
    margin-bottom: 3rem;
    color: black;
}
.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: 0.3rem;
    resize: none;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
}
.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn{
    margin-top: 2rem;
}
.contact .heading{
    text-align: center;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background: var(--main-color);
}

.footer .social-media{
    text-align: center;
    padding-bottom:20px;
    color: var(--snd-bg-color);
}
.footer .social-media a{
    font-size: 25px;
    color: rgb(223, 205, 255);
    border: 2px solid var(--main-color);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0px 10px;
    transition: 0.3s ease;
}

.footer .social a :hover{
    transform: scale(1.2) translateY(-10px);
    background-color: black;
    color: var(--snd-bg-color);
    box-shadow: 0 0 25px var(--main-color);
}
.copyright{
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

